<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="css/estilo.css">
</head>

<body>
    <section>
        <div class="div_logo">
            <div class="espaco2"></div>
            <img src="../../Documentos/logo.png" alt="Logo da Empresa">
        </div>
        <div class="div_cadastro">
            <div class="cadastro_usuario">
                <h1>Cadastro do Usuário</h1>
            </div>
            <div class="espaco"></div>
            <div class="nome_div">
                <div class="nome">
                    <h2>Nome:</h2>
                    <input type="text" placeholder="Nome Completo" id="nome_Usuario">
                </div>
            </div>
            <div class="inputs_cadastro">
                <div class="l1">
                    <div class="cpf">
                        <h2>CPF:</h2>
                        <input type="text" placeholder="000.000.000-00" id="cpf_Usuario">
                    </div>
                    <div class="data">
                        <h2>Data de Nascimento:</h2>
                        <input type="date" id="nascimento_Usuario">
                    </div>
                </div>
                <div class="l1">
                    <div class="telefone">
                        <h2>Telefone:</h2>
                        <input type="tel" placeholder="(00) 0000-0000" id="telefone_Usuario">
                    </div>
                    <div class="endereco">
                        <h2>Endereço:</h2>
                        <input type="text" placeholder="Endereço completo" id="endereco_Usuario">
                    </div>
                </div>
                <div class="l1">
                    <div class="peso">
                        <h2>Peso:</h2>
                        <input type="text" placeholder="00.0kg" id="peso_Usuario">
                    </div>
                    <div class="altura">
                        <h2>Altura:</h2>
                        <input type="text" placeholder="000cm" id="altura_Usuario">
                    </div>
                </div>
                <div class="cadastrar">
                    <input type="button" value="Cadastrar" class="cadastrar2" onclick="Cadastrar()">
                </div>
            </div>
        </div>
    </section>
    <script src="js/request.js"></script>
</body>

</html>